.stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    background: #607D8B;
    margin:0 auto;
    font-size: 60px;
    color:#BBBBBB;
    font-family: sans-serif;
}


.controls {
    font-size: 40px;
    font-family: sans-serif;
    padding: 15px;
}
a {
    text-decoration: none;
    color:#BBBBBB;
    cursor:pointer;
    margin-left: 10px;
}
